{% load i18n %}
<hr>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="form-inline">
        <div class="form-group" style="padding-right: 10px;">
                {% if actions_selection_counter %}
                    <script type="text/javascript">var _actions_icnt="{{ cl.result_list|length|default:"0" }}";</script>
                    <span class="action-counter">{{ selection_note }}</span>
                    {% if cl.result_count != cl.result_list|length %}
                        <span class="all">{{ selection_note_all }}</span>
                        <span class="question">
                            <a href="javascript:;" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
                        </span>
                        <span class="clear"><a href="javascript:;">{% trans "Clear selection" %}</a></span>
                    {% endif %}
                {% endif %}
            </div>

            <div class="form-group">
                {% for field in action_form %}
                    {% if field.label %}
                        <label class="control-label">
                        {{ field.label }}
                    {% endif %}
                {% if field.label %}
                    </label>

                    {{ field }}

                {% endif %}
                {% endfor %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info pull-right form-control" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">Hacer!</button>
            </div>
        </div>
    </div>
</div>
<div class="padd"></div>