{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    <div class="col-lg-7 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-laptop"></i>
                Sitio Administrativo
            </div>
            {% if app_list %}
                <table class="table table-hover table-responsive">
                    {% for app in app_list %}
                        <tr>
                            <th colspan="3"><a href="{{ app.app_url }}" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                                {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
                            </a></th>
                        </tr>
                        {% for model in app.models %}
                            <tr class="model-{{ model.object_name|lower }}">
                                {% if model.admin_url %}
                                    <th scope="row"><small><a href="{{ model.admin_url }}">{{ model.name }}</a></small></th>
                                {% else %}
                                    <th scope="row"><small>{{ model.name }}</small></th>
                                {% endif %}

                                {% if model.add_url %}
                                    <td><a href="{{ model.add_url }}"><i class="fa fa-pencil"></i> {% trans 'Add' %}</a></td>
                                {% else %}
                                    <td>&nbsp;</td>
                                {% endif %}

                                {% if model.admin_url %}
                                    <td><a href="{{ model.admin_url }}"><i class="fa fa-edit"></i> {% trans 'Change' %}</a></td>
                                {% else %}
                                    <td>&nbsp;</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            {% else %}
                <p>{% trans "You don't have permission to edit anything." %}</p>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block sidebar %}
    <div class="col-lg-2 col-sm-10">
        <div class="panel panel-default" >
            <div class="panel-heading">{% trans 'Recent Actions' %}</div>
            <div class="panel-body">
                <h5>{% trans 'My Actions' %}</h5>
                {% load log %}
                {% get_admin_log 10 as admin_log for_user user %}
                {% if not admin_log %}
                    <p>{% trans 'None available' %}</p>
                {% else %}
                    <ul class="actionlist">
                        {% for entry in admin_log %}
                            <li>
                                {% if entry.is_addition %}<i class="fa fa-pencil">{% endif %}{% if entry.is_change %}<i class="fa fa-edit">{% endif %}{% if entry.is_deletion %}<i class="fa fa-eraser">{% endif %}</i>
                                {% if entry.is_deletion or not entry.get_admin_url %}
                                    {{ entry.object_repr }}
                                {% else %}
                                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                {% endif %}
                                <br/>
                                {% if entry.content_type %}
                                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                                {% else %}
                                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
