{% load i18n admin_static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Semilleros</title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ STATIC_URL }}css/sb-admin.css" rel="stylesheet">

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="login-panel panel panel-default">
                <div style="font-size: 20px !important; text-align: center !important ">Semilleros</div>
                <div class="panel-heading">
                    <h3 class="panel-title">Iniciar Sesión</h3>
                </div>
                <div class="panel-body">
                    {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
                        <p class="errornote">
                            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                        </p>
                    {% endif %}

                    {% if form.non_field_errors or form.this_is_the_login_form.errors %}
                        {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
                            <p class="errornote">
                                {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    <form role="form" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
                                <input id="id_username" maxlength="254" name="username" type="text" class="form-control" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="id_password" name="password" type="password">
                                <input type="hidden" name="this_is_the_login_form" value="1" />
                                <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            {% url 'admin_password_reset' as password_reset_url %}
                            {% if password_reset_url %}
                                <div class="password-reset-link">
                                    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                                </div>
                            {% endif %}
                            <div class="submit-row">
                                <label>&nbsp;</label><input type="submit" class="btn btn-lg btn-success btn-block" value="{% trans 'Log in' %}" />
                            </div>
                            <!-- Change this to a button or input when using this as a form -->

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Core Scripts - Include with every page -->
<script src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SB Admin Scripts - Include with every page -->
<script src="{{ STATIC_URL }}js/sb-admin.js"></script>

</body>

</html>
